@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (var element in ViewBag.Elements)
    {
        @Html.Raw(element.Render())
    }
</div>
<div class="foodDatabase">
    <img src="~/Assets/foodDatabase.png"/>
    <p>
        The Food Database is meticulously designed with advanced search functionality, comprehensive comparison tools, and versatile export options, making it an indispensable resource for a wide range of users including nutritionists, dietitians, researchers, and health-conscious individuals. With its user-friendly interface, the database allows for quick and precise searches, enabling users to find detailed nutritional information on a vast array of foods.
     </p>
</div>
<div class="newsletterBox">
    <form action="action_page.php">
        <div class="nesletter">
            <h2>Subscribe to our Newsletter</h2>
            <p>Join Get Healthy and get healthy :)</p>
        </div>

        <div class="nesletter">
            <input type="text" placeholder="Name" name="name" required>
            <input type="text" placeholder="Email address" name="mail" required>
        </div>

        <div class="nesletter submit">
            <input type="submit" value="Subscribe">
        </div>
    </form>


</div>