header {
    box-shadow: inset 15px 15px black;
    font-family: "Love Ya Like A Sister", cursive !important;
}

.container-fluid a {
    padding: 0 15px;
    transition: all 0.3s ease;
}
.navbar-collapse {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
a.navbar-brand:hover {
    transform: scale(1.1);
}
.nav-item {
    display: flex;
    transition: all 0.3s ease;
}
.nav-item:hover {
    transform: scale(1.1);
}
.nav-item a {
    align-self: center;
}

body {
    background-image: url('../Assets/Artboard 1.jpg');
}

/* HEAD */
.head {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.head h1 {
    font-size: 80px;
    font-family: "Love Ya Like A Sister", cursive;
    color: #002b59;
}
 .centered {
    display: block;
    text-align: center;    
}
.subHead h3 {
    font-family: "Love Ya Like A Sister", cursive;
    color: #002b59;
}
.createButton a {
    background-color: #B582F7;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: 4px 4px 0 0 #422800;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    transition: all 0.3s ease;
}
.createButton a:hover,
.createButton a:active {
    box-shadow: 2px 2px 0 0 #422800;
    transform: translate(2px, 2px);
}
@media (min-width: 768px) {
    .createButton a {
        min-width: 120px;
        padding: 0 25px;
    }
}

/* DATES */
.dates {
    font-family: "Love Ya Like A Sister", cursive;
    color: #002b59;
}

/* TABLE */
.table {
    font-family: "Love Ya Like A Sister", cursive;
    color: #002b59;
}
.table tr {
    padding: 4px 0;
    border-top: 2px solid #B582F7;
    border-bottom: 2px solid #B582F7;
}
.tableButtons a {
    font-family: "Love Ya Like A Sister", cursive !important;
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    color: #002b59;
    transition: all 0.3s ease;
}
.tableButtons a:hover {
    transform: scale(1.2);
    color: #272727;
}
.values {
    font-family: "Pacifico", cursive;
}


/* EDIT */
.saveButton {
    padding: 15px;
    text-align: center;
}

.btn-primary {
    border-radius: 15px;
    color: #fff;
    background-color: #B582F7;
    border-color: #8D3FF3;
    width: 200px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    border-radius: 20px;
    background-color: #8D3FF3;
    border-color: #B582F7;
    transform: scale(1.1);
}

.form-control {
    border-radius: 15px;
    font-family: "Love Ya Like A Sister", cursive;
    color: #002b59;
}
.control-label {
    font-family: "Love Ya Like A Sister", cursive;
    color: #002b59;
}
.row {
    justify-content: center;
}
/* DETAILS */
.detailsList {
    font-family: "Love Ya Like A Sister", cursive !important;
}

/* DELETE */
.deleteButtons a {
    text-decoration: none;
    background-color: #FAFBFC;
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), 0 1px 0 inset rgba(255, 255, 255, 0.25);
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}
.deleteButtons a:hover {
    background-color: #F3F4F6;
}
.deleteButtons a:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}
.deleteButtons a:active {
    background-color: #EDEFF2;
    box-shadow: 0 1px 0 inset rgba(225, 228, 232, 0.2);
}
.deleteButtons a:focus {
    outline: 1px transparent;
}
.deleteButtons a:before,
.deleteButtons a:-webkit-details-marker {
    display: none;
}

/* ADMIN PANEL */

